<a href="https://colab.research.google.com/github/ellaclauz/Meal_Temperature-Data/blob/main/testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hypothesis Question:
Is there a difference in Temperature on avaerage between students who prefer Breakfast and students who prefer Dinner

In [1]:
from google.colab import files
uploaded = files.upload()

Saving temp_meal_data.csv to temp_meal_data.csv

In [2]:
import pandas as pd 
import seaborn as sn
from scipy import stats

In [4]:
Temp_meal_data = pd.read_csv("temp_meal_data.csv", index_col=0)

In [5]:
Temp_meal_data.head()

,Timestamp,Email,Name,temperature,metric,temperature_F,Breakfast,Lunch,Dinner,meal
0,2022/06/25 11:58:47 AM MDT,tjshotunde@yahoo.com,Oreoluwa Jimi-Shotunde,28.0,C,82.4,1,0,0,Breakfast
1,2022/06/25 12:00:01 PM MDT,winfredplt583@gmail.com,Winfred Apolot,20.0,C,68.0,0,1,0,Lunch
2,2022/06/25 12:02:14 PM MDT,missonyango.so@gmail.com,Shereen Onyango,18.0,C,64.4,0,0,1,Dinner
3,2022/06/25 12:02:25 PM MDT,njerimacharia07@gmail.com,Njeri Macharia,19.0,C,66.2,1,0,0,Breakfast
4,2022/06/25 12:02:47 PM MDT,rachealsibindi@gmail.com,Racheal Sibindi,19.0,C,66.2,0,1,0,Lunch

In [6]:
Temp_meal_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Timestamp      31 non-null     object
 1   Email          31 non-null     object
 2   Name           31 non-null     object
 3   temperature    31 non-null     float64
 4   metric         31 non-null     object
 5   temperature_F  31 non-null     float64
 6   Breakfast      31 non-null     int64
 7   Lunch          31 non-null     int64
 8   Dinner         31 non-null     int64
 9   meal           31 non-null     object
dtypes: float64(2), int64(3), object(5)
memory usage: 2.7+ KB

Checking if the sample size we have for Breakfast and Dinner are the same or different

In [8]:
Breakfast = Temp_meal_data[Temp_meal_data["meal"] == "Breakfast"]

In [9]:
Breakfast.head()

,Timestamp,Email,Name,temperature,metric,temperature_F,Breakfast,Lunch,Dinner,meal
0,2022/06/25 11:58:47 AM MDT,tjshotunde@yahoo.com,Oreoluwa Jimi-Shotunde,28.0,C,82.4,1,0,0,Breakfast
3,2022/06/25 12:02:25 PM MDT,njerimacharia07@gmail.com,Njeri Macharia,19.0,C,66.2,1,0,0,Breakfast
5,2022/06/25 12:02:53 PM MDT,halimatshaddiya@gmail.com,Halimat Raji,20.0,C,68.0,1,0,0,Breakfast
7,2022/06/25 12:03:40 PM MDT,annakarungi15@gmail.com,Karungi Anna,20.0,C,68.0,1,0,0,Breakfast
9,2022/06/25 12:04:44 PM MDT,wacheramaina@gmail.com,Mary Wacera Maina,18.0,C,64.4,1,0,0,Breakfast

In [10]:
Breakfast.shape

(15, 10)

In [11]:
Dinner = Temp_meal_data[Temp_meal_data["meal"] == "Dinner"]

In [12]:
Dinner.head()

,Timestamp,Email,Name,temperature,metric,temperature_F,Breakfast,Lunch,Dinner,meal
2,2022/06/25 12:02:14 PM MDT,missonyango.so@gmail.com,Shereen Onyango,18.0,C,64.4,0,0,1,Dinner
6,2022/06/25 12:03:23 PM MDT,oluwatobiibironkeoluwa@gmail.com,Oluwatobi Oluwa,27.0,C,80.6,0,0,1,Dinner
8,2022/06/25 12:04:43 PM MDT,Fatimaisokrari@gmail.com,Fatima Isokrari,28.0,C,82.4,0,0,1,Dinner
13,2022/06/25 12:06:37 PM MDT,lvijayan1@berkeley.edu,Lavanya Vijayan,71.0,F,71.0,0,0,1,Dinner
23,2022/06/25 12:37:12 PM MDT,nwaodorifechukwude@gmail.com,Nwaodor ifechukwude destiny,35.0,C,95.0,0,0,1,Dinner

In [13]:
Dinner.shape

(7, 10)

In [14]:
Breakfast_sample = Breakfast.sample(n=20, replace=True, random_state=0)

In [15]:
Breakfast_sample.shape

(20, 10)

In [16]:
Dinner_sample = Dinner.sample(n=20, replace=True, random_state=0)

In [18]:
Dinner_sample.shape

(20, 10)

Observed absolute difference in Temperature between the Breakfast sample and Dinner sample

In [20]:
# Observed absolute difference
diff = abs(Breakfast_sample["temperature"].mean()- Dinner_sample["temperature"].mean())
diff

12.899999999999999

In [21]:
significant_level = 0.01

In [22]:
test_results = stats.ttest_ind(a = Breakfast_sample["temperature"], b = Dinner_sample["temperature"], equal_var = False)
test_results

Ttest_indResult(statistic=-2.863171229237036, pvalue=0.008633674924608172)

In [23]:
p_value = test_results.pvalue

p_value

0.008633674924608172

In [24]:
p_value * 100

0.8633674924608172

In [25]:
if p_value < significant_level:
    print(diff, p_value, "Reject")
else:
    print(diff, p_value, "Fail to reject")

12.899999999999999 0.008633674924608172 Reject

Null Hypothesis:

There is no difference in temperature (in degrees fahrenheit) on average between students who prefer Breakfast and students who prefer Dinner. In other words, any difference in temperature between these two groups observed in the samples is due to chance.

Alternative Hypothesis:

There is a difference in temperature (in degrees fahrenheit) on average between students prefer Breakfast and students who prefer Dinner. In other words, any difference in temperature between these two groups observed in the samples is not due to chance.